.chat {
    /* height: 300px; */
    overflow: auto;
}

.chat-messages {
    border: 1px solid grey;
    overflow: scroll;
    height: 500px;
}

.chat-messages li {
    list-style: none;
    font-family: sans-serif;
    word-wrap: break-word;
}

.chat-input {
}

.chat-send {
}
