.sidebar {
    box-sizing: border-box;
    width: 20%;
    background-color: #f1f1f1;
    border-right: 3px solid silver;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
