.todo-list {
    height: 100%;
    box-sizing: border-box;
    width: 80%;
    background-color: #f1f1f1;
    padding-top: 20px;
    padding-left: 20px;
    border-right: 3px solid silver;
    height: 100vh;
    background: url(./bg2.jpg) 100% 50% no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

.todos {
    list-style-type: none;
    padding: 0px;
}

.todo-list-header {
    display: flex;
    align-items: center;
}

.todo-title {
    margin: 5px;
    margin-right: 20px;
    padding-left: 5px;
    background-color: rgba(200,200,200,0.8);
    display: inline-block;
    width: 84%;
}

.delete-list-button {
    width: 10%;
    height: 30px;
    background-color: antiquewhite;
}

.share-list {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-right: 20px;
    padding-left: 5px;
    background-color: rgba(200,200,200,0.8);
    width: 96,5%;
    height: 30px;
}

.owners-list {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.owner-list-item {
    display: inline-block;
    padding-right: 10px;
}

.share-list-input {
    background: transparent;
    outline: none;
    font-size: 16px;
    border: 0px;
}

.share-list-button {
    height: 25px;
    border-radius: 5%;
    background-color: antiquewhite;
}

.new-todo {
    margin: 5px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: rgba(200,200,200,0.8);
    padding-left: 10px;
}

.new-todo-input {
    background-color: transparent;
    border: 0px;
    font-size: 18px;
    width: 95%;
    height: 40px;
    outline: none;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 3px;
    margin-right: 20px;
    background-color: rgba(200,200,200,0.8);
}

.todo-name {
    background-color: transparent;
    border: 0px;
    font-size: 18px;
    width: 95%;
    outline: none;
}

.delete-todo-button {
    border: 0px;
    padding: 0px;
    background: transparent;
    cursor : pointer;
    font-size: 16px;
}
